numpy==2.4.2
pandas==3.0.1
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
scipy==1.17.0
tensorflow==2.20.0
opencv-python==4.13.0.92
scikit-image==0.26.0
pillow==12.1.1
fastapi==0.129.0
uvicorn==0.41.0
gradio==6.6.0
ipython==9.10.0
ipykernel==7.2.0